* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: #c7b299;
    font-family: 'Roboto Slab', serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.responsive {
    display: none;
}


/*** NAVIGATION / HAUT DE PAGE ***/

.topbar {
    background-color: #553019;
    color: white;
    height: 47px;
    top: 0;
    width: 100%;
}

.x {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

.x:hover {
    color: antiquewhite;
    cursor: pointer;
}

.topcontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    height: 47px;
}

.topbar p {
    margin: 0 18px;
    font-size: 16px;
}

.reduc {
    padding-right: 220px;
}

.topdroite {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
}

.panier {
    display: flex;
    align-items: center;
}

.opacite:hover {
    opacity: 0.8;
}

.panier>p {
    margin: 0 16px 0 7px;
}

.content {
    background-color: white;
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: center;
}

header img {
    margin: 12px 0 26px 0;
}

nav {
    background-color: #aa7b51;
    color: white;
    font-size: 24px;
    margin-bottom: 63px;
    display: flex;
    align-items: center;
}

nav>ul {
    margin: auto;
    padding: 0;
    height: 100%;
    max-width: 1200px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul li {
    margin: 0 30px 0 30px;
    width: 175px;
    text-align: center;
    transition: 0.4s;
}

nav>ul>li:hover {
    border-left: bisque 2px solid;
    border-right: bisque 2px solid;
}

.haut {
    height: 58px;
}


/*** CONTENU DU SITE ***/

.grosbloc>img {
    width: 541px;
    height: 345px;
    transition: 0.3s;
}

.grosbloc>img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grosbloc>p {
    font-weight: 700;
    font-size: 27px;
    margin: 0;
    text-align: center;
}

.section0 {
    display: flex;
    justify-content: space-evenly;
}

.section1 {
    height: 241px;
    display: flex;
    justify-content: space-evenly;
}

.slogan {
    height: 241px;
    width: 541px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 70px;
}

.slogan>p {
    font-size: 62.35px;
}

.slogan>p>span {
    font-size: 75.52px;
    color: #aa7b51;
    margin: 0;
}

.presentation {
    height: 241px;
    width: 541px;
    font-size: 15px;
}

.presentation>.button {
    font-size: 20px;
    font-weight: 700;
    height: 38px;
    width: 146px;
    background-color: #aa7b51;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
}

.section2 img {
    width: 348px;
    height: 224px;
    object-fit: cover;
    transition: 0.3s;
}

.section2 img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bloc {
    text-align: center;
    margin-top: 27px;
}

.bloc>p {
    margin: 17px 0 48px 0;
    font-size: 18.86px;
    font-weight: 700;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #aa7b51;
    padding-top: 46px;
    color: white;
    height: 177px;
}

.mentions {
    display: flex;
    justify-content: center;
}

.bas {
    display: flex;
    justify-content: center;
    margin: 0 0 57px 0;
    width: 100%;
}

.mentions>p {
    margin: 0 28px 0 28px;
}

.responsive {
    clip-path: polygon(0 0, 100% 0, 100% 72px, 0 72px);
    transition: 0.3s;
    z-index: 1;
}

.montre {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.changeimage {
    background-image: url("../IMG/Cafe-En-Grain.jpg");
    width: 541px;
    height: 345px;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

.changeimage:hover {
    opacity: 0.8;
    cursor: pointer;
}


/*** RESPONSIVE ***/

@media only screen and (max-width: 1200px) {
    nav>ul>li {
        margin: 0 10px;
    }
    body {
        background-color: white;
    }
    header {
        width: 100%;
        text-align: center;
    }
    header img {
        width: 436px;
    }
    .grosbloc {
        margin-bottom: 42px;
    }
    .grosbloc img {
        padding: 0 26px;
        width: 100vw;
        height: 274px;
        object-fit: cover;
    }
    .section0 {
        flex-wrap: wrap;
    }
    .section1 {
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        font-size: 18px;
    }
    .presentation {
        margin-bottom: 107px;
    }
    .presentation>p {
        margin-bottom: 37px;
        padding: 0 10px;
    }
    .presentation>.button {
        margin: auto;
    }
    .section2 {
        flex-wrap: wrap;
    }
    footer {
        height: auto;
    }
    .mentions {
        flex-direction: column;
    }
    .mentions>p {
        margin: 20px 0;
    }
    .bas {
        margin: 0;
    }
    .bas>ul {
        flex-direction: column;
    }
    .bas li {
        margin: 20px 0;
    }
    .changeimage {
        width: calc(100vw - 52px);
        padding: 0 26px;
        height: 274px;
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 605px) {
    .topdroite {
        position: static !important;
    }
    .topbar {
        height: 124px;
        background-color: #aa7b51;
    }
    .reduc {
        height: 62px;
        padding-right: 0;
    }
    .topcontainer {
        flex-wrap: wrap;
        height: auto;
    }
    .topdroite {
        right: 15px;
        width: 100%;
        background-color: #553019;
        height: 62px;
        display: flex;
        justify-content: center;
    }
    .haut {
        display: none;
    }
    .responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 72px;
        position: relative;
        margin-bottom: -150px;
    }
    .responsive p {
        margin: 0;
    }
    .menu {
        display: flex;
        align-items: center;
        height: 72px;
    }
    .responsive img {
        position: absolute;
        right: 26px;
        top: 17px;
        cursor: pointer;
    }
    .responsive ul {
        flex-direction: column;
        width: 200px;
    }
    .responsive>ul>li {
        margin: 16px 0;
        width: 100%
    }
    .bloc {
        margin-top: 0;
    }
    .bloc p {
        margin-bottom: 42px;
    }
    .topbar p {
        padding-top: 15px;
    }
    .x {
        display: inline-block;
    }
    .section2 img {
        width: 100vw;
        padding: 0 26px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-color: white;
    }
    header {
        width: 100%;
    }
    header img {
        width: 436px;
    }
    .grosbloc img {
        width: 100vw;
        height: 274px;
        object-fit: cover;
    }
    .section0 {
        flex-wrap: wrap;
    }
    .section1 {
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        font-size: 18px;
    }
    .presentation {
        margin-bottom: 107px;
    }
    .presentation>p {
        margin-bottom: 37px;
    }
    .presentation>.button {
        margin: auto;
    }
    .section2 {
        flex-wrap: wrap;
    }
    .changeimage {
        background-image: url("../IMG/coffee-571245571.jpg");
        width: 88vw;
        padding: 0 26px;
        height: 274px;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
}

@media only screen and (max-width: 436px) {
    header img {
        width: 80vw;
    }
    .grosbloc>p {
        font-size: 21px;
    }
    .slogan>p {
        font-size: 12vw;
        line-height: 50px;
    }
    .slogan>p>span {
        font-size: 15vw;
    }
}